<a href="https://colab.research.google.com/github/LuanaLeite/trabalho-individual/blob/main/Entrega_1_Luana_Leite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Trabalho Individual - Entrega 1**


> **Aluna**: Luana Leite Rodrigues 

> **Repositório**: https://github.com/LuanaLeite/TG-EDUCACAO

# **Contexto**

**A empresa**: vende produtos de emagrecimento via canais digitais. Conta com uma audiência de mais de 6M de inscritos no Youtube e, aproximadamente, 980mil seguidores no Instagram. Além da produção de conteúdo orgânico, utilização de estratégias de lançamento de produto, a empresa também investe cerca de R$800 mil reais em tráfego pago por mês para captação de leads. 

**Problemática:** a empresa está no mercado desde 2019 e, recentemente, vem enfrentando novos desafios em relação ao custo de aquisição de clientes e redução de margem de lucro. Dado esse cenário, a grande pergunta feita pelo principal gestor da empresa, demandante da análise, foi "*Quem são os nossos melhores clientes? O que eles compraram?*".

# **Dados fornecidos**

Para responder a pergunta feita pelo gestor da empresa, foi disponibilizada uma base de vendas histórica de janeiro de 2020 até novembro de 2022. A base é constituída do histórico de 5 plataformas de vendas (hotmart, guru-info, guru-sup, upnid e nutlog). Para organização e manipulação dos dados, foi concatenado em excel, com trativas específicas para deixar as bases no mesmo formato e padronizar seus campos. 

Para melhor compreensão da base extraída para análise, confira o **dicionário de variáveis**: [dicionário de variáveis.](https://docs.google.com/spreadsheets/d/1h7uDHroNP6_lTfM1Is5HvlHgBBAP84sNmIXJD1hWgEo/edit?usp=sharing)

## *Coleta e pré-processamento*

In [1]:
# Common standard libraries

import datetime
import time
import os

In [ ]:
# Common external libraries

import pandas as pd
import numpy as np
import sklearn # scikit-learn
import requests
from bs4 import BeautifulSoup
import math

In [ ]:
# Visualization libraries

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Setting plot appearance

%config InlineBackend.figure_format='retina'
sns.set() # Revert to matplotlib defaults
plt.rcParams['figure.figsize'] = (9, 6)
plt.rcParams['axes.labelpad'] = 10
sns.set_style("darkgrid")
# sns.set_context("poster", font_scale=1.0)

Importação dos dados

In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/My Drive/vita_dados.csv', sep=';')

In [ ]:
df.shape

(224978, 47)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224978 entries, 0 to 224977
Data columns (total 47 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   base dados              224978 non-null  object
 1   idTransação             224974 non-null  object
 2   marketplace             224978 non-null  object
 3   status                  224978 non-null  object
 4   pagamento               224978 non-null  object
 5   parcelas                224978 non-null  int64
 6   moeda                   224978 non-null  object
 7   valorVenda              224978 non-null  float64
 8   valorMarketplace        224978 non-null  float64
 9   valorLiquido            224978 non-null  float64
 10  valorProduto            223199 non-null  float64
 11  valorParcela            125580 non-null  float64
 12  idProduto               213903 non-null  float64
 13  nomeProduto             224978 non-null  object
 14  qtdProduto              224978 non-null  int64
 15  retornoMarketplace      6453 non-null    object
 16  reembolso               2831 non-null    object
 17  contato                 224978 non-null  object
 18  docContato              224571 non-null  object
 19  emailContato            224978 non-null  object
 20  logradouroContato       97572 non-null   object
 21  numContato              88260 non-null   object
 22  complementoContato      68996 non-null   object
 23  bairroContato           97392 non-null   object
 24  cidadeContato           99350 non-null   object
 25  estadoContato           99352 non-null   object
 26  paisContato             213903 non-null  object
 27  cep                     99351 non-null   object
 28  telefone                224618 non-null  object
 29  dataPedido              224978 non-null  object
 30  dataAprovacao           208139 non-null  object
 31  dataCancelamento        19181 non-null   object
 32  dataGarantia            114502 non-null  object
 33  rppcvenda               889 non-null     object
 34  origemrppcvenda         889 non-null     object
 35  utm_source              31636 non-null   object
 36  utm_campaign            29039 non-null   object
 37  utm_medium              27945 non-null   object
 38  utm_content             103089 non-null  object
 39  vencimento_boleto       124420 non-null  object
 40  oferta                  213139 non-null  object
 41  assinaturaCódigo        9283 non-null    object
 42  assinaturaCiclo         224978 non-null  int64
 43  PrimeiroProduto         224978 non-null  object
 44  DataPrimeiraCompra      224978 non-null  object
 45  #Transação              224978 non-null  int64
 46  ClassificaçãoTransação  224978 non-null  object
dtypes: float64(6), int64(4), object(37)
memory usage: 80.7+ MB

In [ ]:
df = df.astype({"dataPedido":'datetime64[ms]',
                "dataAprovacao":'datetime64[ms]',
                "dataCancelamento":'datetime64[ms]',
                "dataGarantia":'datetime64[ms]',
                "vencimento_boleto":'datetime64[ms]',
                "DataPrimeiraCompra":'datetime64[ms]'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224978 entries, 0 to 224977
Data columns (total 47 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   base dados              224978 non-null  object
 1   idTransação             224974 non-null  object
 2   marketplace             224978 non-null  object
 3   status                  224978 non-null  object
 4   pagamento               224978 non-null  object
 5   parcelas                224978 non-null  int64
 6   moeda                   224978 non-null  object
 7   valorVenda              224978 non-null  float64
 8   valorMarketplace        224978 non-null  float64
 9   valorLiquido            224978 non-null  float64
 10  valorProduto            223199 non-null  float64
 11  valorParcela            125580 non-null  float64
 12  idProduto               213903 non-null  float64
 13  nomeProduto             224978 non-null  object
 14  qtdProduto              224978 non-null  int64
 15  retornoMarketplace      6453 non-null    object
 16  reembolso               2831 non-null    object
 17  contato                 224978 non-null  object
 18  docContato              224571 non-null  object
 19  emailContato            224978 non-null  object
 20  logradouroContato       97572 non-null   object
 21  numContato              88260 non-null   object
 22  complementoContato      68996 non-null   object
 23  bairroContato           97392 non-null   object
 24  cidadeContato           99350 non-null   object
 25  estadoContato           99352 non-null   object
 26  paisContato             213903 non-null  object
 27  cep                     99351 non-null   object
 28  telefone                224618 non-null  object
 29  dataPedido              224978 non-null  datetime64[ns]
 30  dataAprovacao           208139 non-null  datetime64[ns]
 31  dataCancelamento        19181 non-null   datetime64[ns]
 32  dataGarantia            114502 non-null  datetime64[ns]
 33  rppcvenda               889 non-null     object
 34  origemrppcvenda         889 non-null     object
 35  utm_source              31636 non-null   object
 36  utm_campaign            29039 non-null   object
 37  utm_medium              27945 non-null   object
 38  utm_content             103089 non-null  object
 39  vencimento_boleto       124420 non-null  datetime64[ns]
 40  oferta                  213139 non-null  object
 41  assinaturaCódigo        9283 non-null    object
 42  assinaturaCiclo         224978 non-null  int64
 43  PrimeiroProduto         224978 non-null  object
 44  DataPrimeiraCompra      224978 non-null  datetime64[ns]
 45  #Transação              224978 non-null  int64
 46  ClassificaçãoTransação  224978 non-null  object
dtypes: datetime64[ns](6), float64(6), int64(4), object(31)
memory usage: 80.7+ MB

In [ ]:
print(df)

       base dados                           idTransação marketplace  \
0           upnid                               1418756       upnid
1         hotmart                      HP12915778937701     hotmart
2         hotmart                      HP17315779087437     hotmart
3         hotmart                      HP14315779180064     hotmart
4         hotmart                      HP05815779272122     hotmart
...           ...                                   ...         ...
224973  guru_supl  97df5799-e95f-4684-9c7f-143dadd07e6b     PagarMe
224974  guru_supl  97df5ba5-78d3-4538-91d9-5607e59058f2     PagarMe
224975  guru_supl  97df6296-bab2-46c1-b1e1-c237d6c98cc0     PagarMe
224976  guru_supl  97df65eb-3c34-4d17-bef6-0251ea7c45bb     PagarMe
224977  guru_supl  97df770b-ac0d-420c-a278-43d6b5d88179     PagarMe

            status          pagamento  parcelas moeda  valorVenda  \
0       Chargeback  Cartão de Crédito        12   BRL      447.00
1         Completo  Cartão de Crédito         1   BRL       99.00
2         Completo  Cartão de Crédito         1   BRL       97.00
3         Completo  Cartão de Crédito         1   BRL       99.00
4         Completo    Boleto Bancário         1   BRL       99.00
...            ...                ...       ...   ...         ...
224973    Aprovada  Cartão de Crédito        12   BRL      824.64
224974    Aprovada  Cartão de Crédito        12   BRL      285.72
224975    Aprovada                PIX         1   BRL      321.30
224976    Aprovada  Cartão de Crédito         3   BRL      721.41
224977    Aprovada  Cartão de Crédito         7   BRL      511.56

        valorMarketplace  valorLiquido  ...  utm_medium     utm_content  \
0                  23.35        423.65  ...         NaN             NaN
1                   8.82         90.18  ...         NaN             NaN
2                   8.66         88.34  ...         NaN             NaN
3                   8.82         90.18  ...         NaN             NaN
4                   8.82         90.18  ...         NaN             NaN
...                  ...           ...  ...         ...             ...
224973            100.26        724.38  ...         bio             NaN
224974             35.20        250.52  ...     stories             NaN
224975              2.22        319.08  ...   broadcast  reabertura-org
224976             35.20        686.21  ...   broadcast       geral-sb4
224977             41.75        469.81  ...     stories             NaN

        vencimento_boleto                                          oferta  \
0                     NaT                                             NaN
1                     NaT                                        kytlmklm
2                     NaT                                        2opgc0eg
3                     NaT                                        kytlmklm
4                     NaT                                        kytlmklm
...                   ...                                             ...
224973         2022-11-30                   Fórmula SB4 - Kit com 5 Potes
224974         2022-11-30                VitaCalm Night - Kit com 3 Potes
224975         2022-11-30  Kit Desinflama - 1 Pote de Cada (Frete Grátis)
224976         2022-11-30                   Fórmula SB4 - Kit com 5 Potes
224977         2022-11-30                   Fórmula SB4 - Kit com 3 Potes

        assinaturaCódigo assinaturaCiclo  \
0                    NaN               0
1                    NaN               0
2                    NaN               0
3                    NaN               0
4                    NaN               0
...                  ...             ...
224973               NaN               0
224974               NaN               0
224975               NaN               0
224976               NaN               0
224977               NaN               0

                                          PrimeiroProduto DataPrimeiraCompra  \
0                 Fórmula SB3 - Kit com 3 Potes (35% Off)         2019-11-28
1                                  Ebook Detox de 15 Dias         2020-01-01
2                                        Kit Dayan Siebra         2020-01-01
3                                  Ebook Detox de 15 Dias         2020-01-01
4                                  Ebook Detox de 15 Dias         2020-01-01
...                                                   ...                ...
224973                      Fórmula SB4 - Kit com 5 Potes         2022-11-30
224974     VitaCalm Night - Kit com 3 Potes  (Melatonina)         2020-08-13
224975  Revista Digital: Viva com Saúde por Dr. Dayan ...         2022-11-21
224976                        Fórmula SB4 - Pote Unitário         2022-11-30
224977                      Fórmula SB4 - Kit com 3 Potes         2022-11-30

       #Transação ClassificaçãoTransação
0               1        Primeira Compra
1               1        Primeira Compra
2               1        Primeira Compra
3               1        Primeira Compra
4               1        Primeira Compra
...           ...                    ...
224973          1        Primeira Compra
224974          1        Primeira Compra
224975         11               Recompra
224976          2               Recompra
224977          1        Primeira Compra

[224978 rows x 47 columns]

In [ ]:
df.head()

,base dados,idTransação,marketplace,status,pagamento,parcelas,moeda,valorVenda,valorMarketplace,valorLiquido,...,utm_medium,utm_content,vencimento_boleto,oferta,assinaturaCódigo,assinaturaCiclo,PrimeiroProduto,DataPrimeiraCompra,#Transação,ClassificaçãoTransação
0,upnid,1418756,upnid,Chargeback,Cartão de Crédito,12,BRL,447.0,23.35,423.65,...,NaN,NaN,NaT,NaN,NaN,0,Fórmula SB3 - Kit com 3 Potes (35% Off),2019-11-28,1,Primeira Compra
1,hotmart,HP12915778937701,hotmart,Completo,Cartão de Crédito,1,BRL,99.0,8.82,90.18,...,NaN,NaN,NaT,kytlmklm,NaN,0,Ebook Detox de 15 Dias,2020-01-01,1,Primeira Compra
2,hotmart,HP17315779087437,hotmart,Completo,Cartão de Crédito,1,BRL,97.0,8.66,88.34,...,NaN,NaN,NaT,2opgc0eg,NaN,0,Kit Dayan Siebra,2020-01-01,1,Primeira Compra
3,hotmart,HP14315779180064,hotmart,Completo,Cartão de Crédito,1,BRL,99.0,8.82,90.18,...,NaN,NaN,NaT,kytlmklm,NaN,0,Ebook Detox de 15 Dias,2020-01-01,1,Primeira Compra
4,hotmart,HP05815779272122,hotmart,Completo,Boleto Bancário,1,BRL,99.0,8.82,90.18,...,NaN,NaN,NaT,kytlmklm,NaN,0,Ebook Detox de 15 Dias,2020-01-01,1,Primeira Compra

In [ ]:
df[['valorLiquido']].describe()

        valorLiquido
count  224978.000000
mean      371.410874
std       328.853420
min        -0.070000
25%       143.200000
50%       206.000000
75%       538.780000
max      2498.840000

In [ ]:
df[['marketplace']].describe()

       marketplace
count       224978
unique           6
top        PagarMe
freq        124938

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelas,224978.0,6.747802e+00,4.983919e+00,1.00,1.00,6.00,12.00,1.200000e+01
valorVenda,224978.0,3.911672e+02,3.465348e+02,0.00,153.90,209.00,577.32,2.499240e+03
valorMarketplace,224978.0,3.496703e+01,5.926791e+01,0.00,3.56,16.48,36.68,8.334800e+02
valorLiquido,224978.0,3.714109e+02,3.288534e+02,-0.07,143.20,206.00,538.78,2.498840e+03
valorProduto,223199.0,3.756213e+02,1.845552e+03,0.00,153.90,206.00,499.00,8.559870e+05
valorParcela,125580.0,1.713461e+02,2.387557e+02,0.49,23.61,85.71,180.59,2.082000e+03
idProduto,213903.0,2.541295e+08,5.943162e+08,1.00,12.00,406542.00,652159.00,1.667914e+09
qtdProduto,224978.0,1.000000e+00,0.000000e+00,1.00,1.00,1.00,1.00,1.000000e+00
assinaturaCiclo,224978.0,6.672741e-01,1.242673e+00,0.00,0.00,0.00,1.00,2.900000e+01
#Transação,224978.0,2.094098e+00,2.440199e+00,1.00,1.00,1.00,2.00,7.600000e+01